<div style="width: 50px; z-index: 100;">
    <nav style="display: flex; flex-direction: column; justify-content: start; align-items: center; gap: 20px; 
                background-color: #FFFFFF; padding: 10px;height: 100vh; padding-top: 20px; border-right: 1px solid #00000010;">
        <div style="color: #00586B; font-weight: 600; text-align: center;">
            <div style="width: 35px; height: 35px; border-radius: 12px; background: linear-gradient(#005465,#00849C); display: flex; justify-content: center; align-items: center;">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet" style="width: 25px; height: 25px; transform-origin: 50% 50%; transform: scaleX(1) scaleY(1) rotate(0deg);"><path d="m211.74813 368.66731 42.93093-91.36185 103.17714-0.0898 35.82482 17.26888 24.02205-0.52918 38.95397 36.6582-149.95979 112.59483s-21.95594-31.71995-64.33323-36.00075c-37.71028-3.80936-117.71316 12.78022-140.32234 18.81872-45.01372 12.02235-25.484076 57.68246-22.315004 62.38142-54.874322-30.84418-74.585594-46.9678-79.173706-74.413-4.5881123-27.4452 20.879813-39.56762 20.984467-43.99233 0.4397-8.1102 2.069115-14.18085 5.217913-21.01999 90.15362 17.04299 124.183 17.71843 184.99278 19.68487zm-80.36504-43.09833 66.9919-55.69207-5.44814 57.30633-30.4692 9.08024zm123.39945-85.38282v-18.5682l65.07506-40.47497c65.63109-10.83885 128.11784-17.48523 192.1424-26.18202l-64.56094 114.2865-52.70652-0.48913zm-225.8032 97.4985c74.04329-66.07286 89.435-115.44091 105.68382-145.5803 8.53464-16.19048 87.27743-63.3615 209.70658-147.58344v42.13132l167.02209-63.06002-33.45303 104.22504c-47.99256 25.01539-111.30928 21.48802-134.88649 26.17277-34.06383 3.76395-166.39649 55.00626-180.6624 85.64506-49.05157 84.15646-133.41057 98.04959-133.41057 98.04958z" fill="#000000" style="fill:#ffffff;stroke:none" stroke="none" class="" /></svg>
            </div>
        </div>
        <NavLink href="/" class="icon-menu" style="position: relative;">
            <div class="description-icon-menu">
                dashboard
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-layout-dashboard-icon lucide-layout-dashboard"><rect width="7" height="9" x="3" y="3" rx="1" /><rect width="7" height="5" x="14" y="3" rx="1" /><rect width="7" height="9" x="14" y="12" rx="1" /><rect width="7" height="5" x="3" y="16" rx="1" /></svg>
        </NavLink>
        <NavLink href="/pedidos" class="icon-menu">
            <div class="description-icon-menu">
                pedidos
            </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-receipt-icon lucide-receipt"><path d="M12 17V7" /><path d="M16 8h-6a2 2 0 0 0 0 4h4a2 2 0 0 1 0 4H8" /><path d="M4 3a1 1 0 0 1 1-1 1.3 1.3 0 0 1 .7.2l.933.6a1.3 1.3 0 0 0 1.4 0l.934-.6a1.3 1.3 0 0 1 1.4 0l.933.6a1.3 1.3 0 0 0 1.4 0l.933-.6a1.3 1.3 0 0 1 1.4 0l.934.6a1.3 1.3 0 0 0 1.4 0l.933-.6A1.3 1.3 0 0 1 19 2a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1 1.3 1.3 0 0 1-.7-.2l-.933-.6a1.3 1.3 0 0 0-1.4 0l-.934.6a1.3 1.3 0 0 1-1.4 0l-.933-.6a1.3 1.3 0 0 0-1.4 0l-.933.6a1.3 1.3 0 0 1-1.4 0l-.934-.6a1.3 1.3 0 0 0-1.4 0l-.933.6a1.3 1.3 0 0 1-.7.2 1 1 0 0 1-1-1z" /></svg>
        </NavLink>
        <NavLink href="/ventas" class="icon-menu" >
            <div class="description-icon-menu">
                ventas
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shopping-cart-icon lucide-shopping-cart"><circle cx="8" cy="21" r="1" /><circle cx="19" cy="21" r="1" /><path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12" /></svg>
        </NavLink>
        <NavLink href="/inventario" class="icon-menu">
            <div class="description-icon-menu">
                inventario
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-archive-icon lucide-archive"><rect width="20" height="5" x="2" y="3" rx="1" /><path d="M4 8v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8" /><path d="M10 12h4" /></svg>
        </NavLink>
        <NavLink  href="/usuarios" class="icon-menu">
            <div class="description-icon-menu">
                Usuarios
            </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-users-round-icon lucide-users-round"><path d="M18 21a8 8 0 0 0-16 0" /><circle cx="10" cy="8" r="5" /><path d="M22 20c0-3.37-2-6.5-4-8a5 5 0 0 0-.45-8.3" /></svg>
        </NavLink>
        <NavLink href="/metricas" class="icon-menu">
            <div class="description-icon-menu">
                Metricas
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chart-column-stacked-icon lucide-chart-column-stacked"><path d="M11 13H7"/><path d="M19 9h-4"/><path d="M3 3v16a2 2 0 0 0 2 2h16"/><rect x="15" y="5" width="4" height="12" rx="1"/><rect x="7" y="8" width="4" height="9" rx="1"/></svg>
        </NavLink>
        <NavLink href="/caja" class="icon-menu">
            <div class="description-icon-menu">
                Caja
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-hand-coins-icon lucide-hand-coins"><path d="M11 15h2a2 2 0 1 0 0-4h-3c-.6 0-1.1.2-1.4.6L3 17"/><path d="m7 21 1.6-1.4c.3-.4.8-.6 1.4-.6h4c1.1 0 2.1-.4 2.8-1.2l4.6-4.4a2 2 0 0 0-2.75-2.91l-4.2 3.9"/><path d="m2 16 6 6"/><circle cx="16" cy="9" r="2.9"/><circle cx="6" cy="5" r="3"/></svg>
        </NavLink>
        <NavLink href="/configuracion" style="margin-top: auto;" class="icon-menu">
            <div class="description-icon-menu">
                Configuración
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-settings-icon lucide-settings"><path d="M9.671 4.136a2.34 2.34 0 0 1 4.659 0 2.34 2.34 0 0 0 3.319 1.915 2.34 2.34 0 0 1 2.33 4.033 2.34 2.34 0 0 0 0 3.831 2.34 2.34 0 0 1-2.33 4.033 2.34 2.34 0 0 0-3.319 1.915 2.34 2.34 0 0 1-4.659 0 2.34 2.34 0 0 0-3.32-1.915 2.34 2.34 0 0 1-2.33-4.033 2.34 2.34 0 0 0 0-3.831A2.34 2.34 0 0 1 6.35 6.051a2.34 2.34 0 0 0 3.319-1.915" /><circle cx="12" cy="12" r="3" /></svg>
        </NavLink>
    </nav>
</div>

            